body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  height:100%;
  background-color: #F8F7F5;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}


.markdown {
    color:#666666;
}
.markdown img {
    width:100%;
}

a{
    text-decoration: none
}
a:link {
    color: #ff3366;
}

a:visited {
    color: #ff3366;
}

a:hover {
    color: red;
}
